* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

img {
    width: 100%;
    cursor: pointer;
}

.panel-0 {
    grid-column: 1/3;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 1vw;
}

.hide {
    display: none;
}